<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/test/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/test/css/materialize.min.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.1/sc-1.4.2/datatables.min.css"/>
        <link rel="stylesheet" href="{{ asset('bundles/test/css/style.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body class="grey lighten-2">
<header>
    <nav class="blue-gsb">
        <div class="nav-wrapper">
            <a href="{{ path('homepage') }}" class="brand-logo"><img src="{{ asset('bundles/test/img/logo.png') }}" style="margin-top:2px;margin-left:3rem;" /></a>
            <ul class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>Vous êtes connecté en tant que {{ app.user.username }} |</li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% block body %}

{% endblock %}

{% block footer %}
    <footer class="indigo grey">
        <div class="container">
            <div class="col s12 m6">
                <a class="left-align grey-text text-lighten-3" href="{{ path('sitemap') }}">Plan du site</a>
            </div>
        </div>
    </footer>
{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/test/js/jquery.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/test/js/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/test/js/script.js') }}"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>