{% extends '@Test/Default/base.html.twig' %}

{% block title %}Appli-Frais GSB{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 center">
                                <span class="bigger indigo-text bold">CONNEXION</span>
                            </div>
                        </div>

                        <div class="row center">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12 offset-m2 m8 l6 offset-l3">
                                        <input id="id" name="id" type="text" class="validate" required>
                                        <label for="id">Identifiant</label>
                                    </div>
                                    <div class="input-field col s12 offset-m2 m8 l6 offset-l3">
                                        <input id="password" type="password" class="validate" required>
                                        <label for="password">Mot de passe</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}