{% extends '@Test/Default/base.html.twig' %}

{% block title %}
    Plan du site
{% endblock %}

{% block body %}
    <div class="row center-align">
        <h4 class="light">Plan du site</h4>
        <p>Vous êtes actuellement connecté avec le rôle {% for role in roles %} {% if role == 'ROLE_ADMIN' %} Admin {% else %} User {% endif %} {% endfor %}
    </div>

    <div class="row">
        <div class="col l10 offset-l1">
            <div class="row">
                <div class="col s12 m6 l3 offset-l3">
                    <h5>Accès User</h5>
                    <ul>
                        
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('homepage') }}">Page d'acceuil</a>
                        </li>
                        <li>
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('frais-add') }}">Ajouter frais</a>
                        </li>
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('liste-fiches-frais') }}">Liste des fiches</a>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m6 l3">
                    <h5>Accès Admin seulement</h5>
                    <ul>
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('visiteur-add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('fraistype-add') }}">Ajouter frais type</a>
                        </li>
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('users-list') }}">Liste des utilisateurs</a>
                        </li>
                        <li>
                            <a class="blue-text text-darken-2" href="{{ path('gerer-fichefrais') }}">Gérer les fiches de frais</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
