{% extends '@Test/Default/base.html.twig' %}

{% block title %}
    Ajouter un utilisateur
{% endblock %}

{% block body %}
    <div class="row center-align">
        <h4 class="light">Ajouter un frais type</h4>
    </div>

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="col m4">
                {% for type, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <h5 class="green-text">{{ flash }}</h5>
                    {% endfor %}
                {% endfor %}

                {{ form(form) }}
            </div>
            <div class="col m7 offset-m1">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Libellé</td>
                        <td>Prix</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fraisforfait in fraisforfaits %}
                        <tr>
                            <td>{{ fraisforfait.libelle }}</td>
                            <td>{{ fraisforfait.montant }}</td>
                            <td>
                                <a class="waves-effect waves-light btn blue" href="{{ path('fraisforfaittype_edit',{id : fraisforfait.id }) }}">Modifier</a>
                                <a class="waves-effect waves-light btn red" href="{{ path('fraisforfaittype_remove',{id : fraisforfait.id }) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">Aucun FraisForfait Type</td>

                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



