{% extends '@Test/Default/base.html.twig' %}

{% block title %}
    Ajouter un utilisateur
{% endblock %}

{% block body %}
    <div class="row center-align">
        <h4 class="light">Ajouter un utilisateur</h4>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">

            {% for type, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <h5 class="green-text">{{ flash }}</h5>
                {% endfor %}
            {% endfor %}

            {{ form(form) }}
        </div>
    </div>
{% endblock %}



