{% extends '@Test/Default/base.html.twig' %}

{% block title %}Liste fiches | Appli-Frais GSB{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h4 class="light">Gérer les fiches</h4>
                    <hr />
                </div>
                <div class="row">
                    <ul id="nav-fiches">
                        <li class="nav-link" id="li-encours">fiches en cours</li>
                        <li class="nav-link" id="li-cloturees">fiches cloturées</li>
                        <li class="nav-link" id="li-validees">fiches validées</li>
                    </ul>
                </div>

                <div class="col m8">
                    <table id="usertable" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fichefrais in fichesfrais %}
                            {% if fichefrais.Etat.id == '1' %}
                                {% set class = "div-encours" %}
                            {% elseif fichefrais.Etat.id == '3' %}
                                {% set class = "div-validees" %}
                            {% elseif fichefrais.Etat.id == '2' %}
                                {% set class = "div-cloturees" %}
                            {% endif %}
                            <tr class="{{ class }}">
                                <td>{{ fichefrais.visiteur.prenom }} {{ fichefrais.visiteur.nom }}</td>
                                <td>0{{ fichefrais.mois }}/{{ fichefrais.annee }}</td>
                                <td>TODO: TOTAL</td>
                                <td><a href="{{ path('fichefrais_voir',{id : fichefrais.id }) }}">Voir la fiche <i class="material-icons">zoom_in</i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script language="JavaScript">
        $(document).ready(function() {
            $('#usertable').DataTable();
        });
    </script>
{% endblock %}