{% extends '@Test/Default/base.html.twig' %}

{% block title %}Appli-Frais GSB{% endblock %}

{% block body %}
    <main>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="container">
                <div class="row center">
                    <h3 class="text-blue-gsb">Bonjour {{ user.prenom }} {{ user.nom }}</h3>
                </div>
            </div>
        {% endif %}

        <div class="container" style="margin-top: 3em;">
            <div class="row">
                <div class="col s12 m6">
                    <a  href="{{ path('gerer-fichefrais') }}">
                        <div class="card hoverable white">
                            <div class="card-content">
                                <div class="row center">
                                    <h5 class="home-card uppercase text-blue-gsb">Gérer les fiches de frais</h5>
                                    <i class="material-icons">receipt</i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6">
                    <a  href="{{ path('visiteur-add') }}">
                        <div class="card hoverable white">
                            <div class="card-content">
                                <div class="row center">
                                    <h5 class="home-card uppercase text-blue-gsb">Ajouter un utilisateur</h5>
                                    <i class="material-icons">perm_identity</i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <a  href="{{ path('users-list') }}">
                        <div class="card hoverable white">
                            <div class="card-content">
                                <div class="row center">
                                    <h5 class="home-card uppercase text-blue-gsb">Voir les utilisateurs</h5>
                                    <i class="material-icons">recent_actors</i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6">
                    <a  href="{{ path('fraistype-add') }}">
                        <div class="card hoverable white">
                            <div class="card-content">
                                <div class="row center">
                                    <h5 class="home-card uppercase text-blue-gsb" style="display: inline-block;">Voir les frais forfait types</h5>
                                    <i class="material-icons">view_list</i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}