{% extends '@Test/Default/base.html.twig' %}

{% block title %}Appli-Frais GSB{% endblock %}

{% block body %}
<main>
    <div class="row center-align">
        <h4 class="light">Liste des utilisateurs</h4>
    </div>

    <div class="container" style="margin-top: 3em;">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card white">
                    <div class="card-content">
                        <table>
                          <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Pseudo</th>
                            <th>Date d'embauche</th>
                            <th>Ville</th>
                            <th>Role(s)</th>
                          </tr>
                        {% for user in users %}
                          <tr>
                            <td>{{user.prenom}}</td>
                            <td>{{user.nom}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.dateEmbauche | date("d/m/Y")}}</td>
                            <td>{{user.ville}}</td>
                            <td>{% for role in user.roles %}{% if role == "ROLE_ADMIN" %}
                                    ADMIN
                            {% else %}
                                    USER
                            {% endif %}{% endfor %}
                            </td>
                          </tr>
                        {% endfor %}
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Pseudo</th>
                            <th>Date d'embauche</th>
                            <th>Ville</th>
                            <th>Role(s)</th>
                          </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}