{% extends '@Test/Default/base.html.twig' %}

{% block title %}Liste fiches | Appli-Frais GSB{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h4 class="light">Fiche de {{ fichefrais.visiteur.prenom }} {{ fichefrais.visiteur.nom }}</h4>
                    <p>0{{ fichefrais.mois }}/{{ fichefrais.annee }}</p>

                    {% for type, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <h5 class="green-text light">{{ flash }}</h5>
                        {% endfor %}
                    {% endfor %}
                    <hr />
                </div>
                <div class="row">
                    {% if fichefrais.fraisForfaits %}
                        <div class="col m10 offset-m1">
                            <h5>Frais forfaits:</h5>
                            <table>
                                <tr>
                                    <th>Libelle</th>
                                    <th>Quantité</th>
                                    <th>Prix unité</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                                {% for fraisforfait in fichefrais.fraisForfaits %}
                                    <tr>
                                        <td>{{ fraisforfait.fraistype.libelle }}</td>
                                        <td>x{{ fraisforfait.quantite }}</td>
                                        <td>{{ fraisforfait.fraistype.montant }}</td>
                                        <td>{{ fraisforfait.quantite * fraisforfait.fraistype.montant }}</td>
                                        <td>
                                            {% if fraisforfait.etat.id < 3 %}
                                                <a href="{{ path('fraisforfait_approve',{id : fraisforfait.id }) }}">Valider <i class="material-icons">done</i></a>
                                            {% elseif fraisforfait.etat.id == 3 %}
                                                <a class="grey-text" href="{{ path('fraisforfait_disapprove',{id : fraisforfait.id }) }}">Rétablir <i class="material-icons">restore</i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <hr />
                        </div>
                    {% endif %}
                    {% if fichefrais.fraisHorsForfaits %}
                        <div class="col m10 offset-m1">
                            <h5>Frais hors forfaits:</h5>
                            <table>
                                <tr>
                                    <th>Libelle</th>
                                    <th>Quantité</th>
                                    <th>Prix unité</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                                {% for fraishorsforfait in fichefrais.fraisHorsForfaits %}
                                    <tr>
                                        <td>{{ fraishorsforfait.libelle }}</td>
                                        <td>x{{ fraishorsforfait.quantite }}</td>
                                        <td>{{ fraishorsforfait.montant }}</td>
                                        <td>{{ fraishorsforfait.quantite * fraishorsforfait.montant }}</td>
                                        <td>
                                            {% if fraishorsforfait.etat.id < 3 %}
                                                <a href="{{ path('fraishorsforfait_approve',{id : fraishorsforfait.id }) }}">Valider <i class="material-icons">done</i></a>
                                            {% elseif fraishorsforfait.etat.id == 3 %}
                                                <a class="grey-text" href="{{ path('fraishorsforfait_disapprove',{id : fraishorsforfait.id }) }}">Rétablir <i class="material-icons">restore</i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row center-align">
                <a class="btn grey" href="{{ path('gerer-fichefrais') }}">Retour</a>
            </div>
        </div>
    </main>
{% endblock %}

