body {
    height:100%;
    padding-bottom:50px;
}

main {
    height:100%;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.blue-gsb {
    background-color:#4576a1;
}

.bold {
    font-weight:bold;
}

.bigger {
    font-size:1.3rem;
}

.main-link {
    color:teal;
    text-decoration:none;
    font-size:1.2rem;
}

.main-link:hover {
    color:blue;
    text-decoration:none;
    font-weight:bold;
    font-size:1.3rem;
}

.text-blue-gsb {
    color:#4576a1;
}

.uppercase {
    text-transform: uppercase;
}

.material-icons {
    vertical-align: middle;
}

#nav-fiches {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    border: solid #555 1px;
    background-color: rgba(255,255,255,0);
}

.grey-back {
    background-color: #555;
}

.white-text {
    color: white;
}

.material-icons, .home-card {
    vertical-align: middle;
    display: inline-block;
}