{% extends '@Test/Default/base.html.twig' %}

{% block title %}
    Entrez vos frais
{% endblock %}

{% block body %}
    <div class="row center-align">
        <h4 class="light">Entrez vos frais</h4>
        <p>{{ jour }} - {{ mois }} - {{ annee }}</p>
    </div>

    <div class="row">
        <div class="col s6 l4 offset-l2">
            <h4>Frais forfait</h4>

            {% for type, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <h5 class="green-text light">{{ flash }}</h5>
                {% endfor %}
            {% endfor %}

            {{ form(formforfait) }}
            {% set TotalGlobal = 0 %}
            <div class="card blue-gsb" style="margin-top:2em">
                <div class="card-content white-text">
                    <h5>Mes frais forfait pour ce mois : </h5>
                    {% if fichefraisencours != null %}
                        {% for fraisforfait in fraisforfaits %}
                            {% if fraisforfait.fiche.id == fichefraisencours.id %}
                            <p>
                                {{ fraisforfait.quantite }} x {{ fraisforfait.fraisType.libelle }} =
                                {% set total = fraisforfait.quantite * fraisforfait.fraisType.montant %}{{ total }}€
                                {%  set TotalGlobal = TotalGlobal + total%}
                                <span class="right-align"><a href="{{ path('fraisforfait_remove',{id : fraisforfait.id }) }}">Supprimer </a></span>
                            </p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <p>Pas de frais forfait en cours </p>
                    {% endif %}
                    <p><strong>TOTAL : {{ TotalGlobal|number_format(2, '.', ' ') }}€</strong></p>
                </div>
            </div>

        </div>

        <div class="col s6 l4">
            <h4>Frais hors forfait</h4>

            {% for type, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <h5 class="green-text light">{{ flash }}</h5>
                {% endfor %}
            {% endfor %}

            {{ form(formHorsforfait) }}
            {% set TotalHorsGlobal = 0 %}
            <div class="card blue-gsb" style="margin-top:2em">
                <div class="card-content white-text">
                    <h5>Mes frais hors forfait pour ce mois : </h5>
                    {% if fichefraisencours != null %}
                        {% for fraishorsforfait in fraishorsforfaits %}
                            {% if fraishorsforfait.fiche.id == fichefraisencours.id %}
                                <p>{{ fraishorsforfait.quantite }} x {{ fraishorsforfait.libelle }} =
                                    {% set totalHors = fraishorsforfait.quantite * fraishorsforfait.montant %}{{ totalHors }}€
                                    {%  set TotalHorsGlobal = TotalHorsGlobal + totalHors%}
                                <span class="right-align"><a href="{{ path('fraishorsforfait_remove',{id : fraishorsforfait.id }) }}">Supprimer </a></span>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <p><strong>TOTAL : {{ TotalHorsGlobal|number_format(2, '.', ' ') }}€</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
