{% extends '@Test/Default/base.html.twig' %}

{% block title %}Appli-Frais GSB{% endblock %}

{% block body %}
<main>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container">
        <div class="row center">
            <h3 class="text-blue-gsb">Bonjour {{ user.prenom }} {{ user.nom }}</h3>
        </div>
    </div>
    
    <div class="container" style="margin-top: 3em;">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <a  href="{{ path('frais-add') }}">
                    <div class="card hoverable white">
                        <div class="card-content">
                            <div class="row center">
                                <h4 class="uppercase text-blue-gsb">Rentrer des frais
                                <i class="material-icons">send</i></h4> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col s12 m8 offset-m2">
                <a  href="{{ path('liste-fiches-frais') }}">
                    <div class="card hoverable white">
                        <div class="card-content">
                            <div class="row center">
                                <h4 class="uppercase text-blue-gsb">Consulter mes fiches
                                <i class="material-icons">send</i></h4> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row center">
            <div class="col s12 m8 offset-m2">
                <a  href="{{ path('fos_user_security_login') }}">
                    <div class="card hoverable white" style="margin-top: 5em;">
                        <div class="card-content">
                            <div class="row center">
                                <h3 class="uppercase text-blue-gsb">Bonjour, veuillez vous connecter</h3> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {#<a href="{{ path('setdefaultdatabase') }}">Créer base de donnée</a>#}
        </div>
    </div>

    {% endif %}
</main>
{% endblock %}