{% extends '@Test/Default/base.html.twig' %}

{% block title %}Liste fiches | Appli-Frais GSB{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h4 class="light">Liste des fiches</h4>
                </div>
                <div class="row">
                    {% for fichefrais in fichesfrais %}
                        <div class="col s12 l10 offset-l1">
                            <ul class="collapsible grey lighten-3 z-depth-1" data-collapsible="accordion" style="background-color: rgba(0, 0, 255, 0);">
                                <li>
                                    <div class="collapsible-header" style="background-color: rgba(0, 0, 1, 0);">

                                        <h4 class="light" style="letter-spacing: 0.1em;">Mois {{ fichefrais.mois }}</h4>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="row">

                                            <div class="col s12 m10 offset-m1">
                                                <h5 class="light">Frais forfaits</h5>
                                                <table id="fraistable" class="display" cellspacing="0" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>Type frais</th>
                                                        <th>Quantité</th>
                                                        <th>Prix unitaire</th>
                                                        <th>Total</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set totalFraisForfaits = 0 %}
                                                    {% if fraisforfaits != null %}
                                                        {% for fraisforfait in fraisforfaits %}
                                                            {% if fraisforfait.fiche.id == fichefrais.id %}
                                                                <tr>
                                                                    <td>{{ fraisforfait.fraisType.libelle }}</td>
                                                                    <td>x {{ fraisforfait.quantite }}</td>
                                                                    <td>{{ fraisforfait.fraisType.montant }}</td>
                                                                    <td class="bold">= {{ fraisforfait.quantite * fraisforfait.fraisType.montant }}</td>
                                                                    <td>
                                                                        <a href="{{ path('fraisforfait_edit',{id : fraisforfait.id }) }}"><i class="material-icons">mode_edit</i></a> -
                                                                        <a style="color: #f44336" href="{{ path('fraisforfait_remove',{id : fraisforfait.id }) }}"><i class="material-icons">delete</i></a>
                                                                    </td>
                                                                </tr>

                                                                {%  set totalFraisForfaits = totalFraisForfaits + (fraisforfait.quantite * fraisforfait.fraisType.montant) %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>

                                                {% set totalFraisHorsForfaits = 0 %}
                                                {% if fraishorsforfaits != null%}
                                            <hr />
                                                <h5 class="light">Frais hors forfaits</h5>
                                                <table id="fraistable" class="display" cellspacing="0" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>Nom du frais</th>
                                                        <th>Quantité</th>
                                                        <th>Prix unitaire</th>
                                                        <th>Total</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for fraishorsforfait in fraishorsforfaits %}
                                                        {% if fraishorsforfait.fiche.id == fichefrais.id %}
                                                            <tr>
                                                                <td>{{ fraishorsforfait.libelle }}</td>
                                                                <td>x {{ fraishorsforfait.quantite }}</td>
                                                                <td>{{ fraishorsforfait.montant }}</td>
                                                                <td class="bold">= {{ fraishorsforfait.quantite * fraishorsforfait.montant }}</td>
                                                                <td>
                                                                    <a href="{{ path('fraishorsforfait_edit',{id : fraishorsforfait.id }) }}"><i class="material-icons">mode_edit</i></a> -
                                                                    <a style="color: #f44336" href="{{ path('fraishorsforfait_remove',{id : fraishorsforfait.id }) }}"><i class="material-icons">delete</i></a>
                                                                </td>
                                                            </tr>
                                                            {% set totalFraisHorsForfaits = totalFraisHorsForfaits + (fraishorsforfait.quantite * fraishorsforfait.montant) %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                                {% set totalGlobal = totalFraisForfaits + totalFraisHorsForfaits %}
                                                <h5 class="bold text-blus-gsb right-align">TOTAL = {{ totalGlobal }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}