{% extends '@Test/Default/base.html.twig' %}

{% block title %}Liste fiches | Appli-Frais GSB{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h4 class="center">Modifier le frais</h4>
            <div class="col m6 offset-m3">

                {{ form(form) }}

                <a style="margin-top: 1em" class="btn grey" href="{{ path('liste-fiches-frais') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}

